
data/Lausanne_Historical_Censuses/
data/IAM-2002/
data/RIMES-2011-Lines/
data_to_verify/


notebooks/config.json
notebooks/generation_config.json
notebooks/model.safetensors
notebooks/private/
.env
.env
.env
.env
